@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;

  background-color: transparent;
}

/* CommandPalette.css */

.command-palette {
  width: 600px;
  max-height: 400px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 5px;
  overflow-y: auto;

  outline: none;
  box-shadow: none;

  position: fixed;
  top: 15%;
}

.command-palette-body {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.command-input {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

.command-palette-header {
    /* Keep header on top */
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure it sits on top of other elements */

    padding: 20px;
    background-color: #1e1e1e;
}

.command-list {
  list-style: none;
  padding: 0;
}

.command-list-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.command-list-item:hover {
  background-color: #333;
}

.command-list-item:focus {
  background-color: #333; /* Change this to the color you want */
}

.command-title {
  white-space: nowrap;
  flex-shrink: 1;
  margin-right: 20px;
}

.command-description {
  margin-left: auto;
  align-self: flex-end;

  font-size: small;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-shrink: 1000;
  min-width: none;
}

.highlighted {
  background-color: #2e2e2e;
}

.disabled {
  color: #666;
  cursor: not-allowed;
}

/* Applies to all scrollbars */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovering */
}

.error-message {
  color: #ff0000; /* red text */
  background-color: #ffe6e6; /* light red background */
  padding: 10px; /* some padding */
  border-radius: 5px; /* rounded corners */
  margin: 10px 0; /* some margin */
}

.loading-message {
  color: #fff; /* blue text */
  background-color: #1e1e1e; /* light blue background */
  padding: 10px; /* some padding */
  border-radius: 5px; /* rounded corners */
  margin: 10px 0; /* some margin */
}

.command-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;

  flex-shrink: 0;
}