.settings-panel {
    padding: 20px;
}

.shortcut-section {
    margin-bottom: 20px;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.button-section {
    margin: auto;
    width: fit-content;
    margin-top: 20px;
}